@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans:wght@100..900&family=Pacifico&family=Rubik+Wet+Paint&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.right{
    height: 100vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.top{
    height: 20%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: start;
}
.logo img{
    width: 30%;
    filter: drop-shadow(-1px 1px 2px rgb(8, 17, 178));
}
.name{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 25px;
    font-size: 50px;
    padding: 10px;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    color: #ff7272bc;    
    text-shadow: -3px 2px 2px #6e05bb;
}
.snake{
    color: #ff7272;
}
.ladder{
    color: #ffd072d7;
}
.gameboard{
    align-items: center;
    justify-content: center;
    background-image: url(assets/game_board.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    height: 87vh;
    width: 50vw;
    box-shadow: 1px 1px 1px #d2a3c9, -1px -1px 1px #d2a3c9 ;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 10%;
}
.box img{
    width: 35px;
    filter: drop-shadow(-1px 1px 4px black);
}
.redcounter{
    opacity: 0;
    transition: all 0.7s ease-out;
}
.bluecounter{
    opacity: 0;
    transition: all 0.7s ease-out;
}
.rightmost{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.players{
    height: 75%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.redplayer,.blueplayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 5px;
    font-family: "Rubik Wet Paint", serif;
    font-weight: lighter;
    font-style: normal;
    border-radius: 10px;
    color: antiquewhite;
    text-shadow: -2px 2px 4px rgba(93, 176, 189, 0.73);
    background: #180715;
    box-shadow: inset 5px -5px 3px #580b4a, inset 0px 0px 0px #a72a91;
}
.markcounter{
    display: flex;
    gap: 10px;
}
.markcounter .point{
    opacity: 0; 
    width: 25px;
    transition: 0.5s all ease-in-out;
}
.markcounter img:nth-child(1){
    width: 50px;
}
.markcounter img:nth-child(2){
    transform: rotateY(180deg);
    filter: invert(1);
}
.chance{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 30px;
    padding:100px 0px;
}
.showchance{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:lighter;
    font-size: 20px;
}
.showchance img{
    width: 20px;
}
#dice {
    background: linear-gradient(145deg, #c9e6f3, #ffffff); /* Soft gradient */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fjalla One", sans-serif;
    font-weight:bold;
    font-style: normal;
    font-size: 1.2em;
    height: 60px;
    width: 60px;
    border: 2px solid #333;
    border-radius: 12px; /* More rounded corners */
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.3s ease; /* Smooth transition on click */
    margin: 50px;
}

#dice:hover {
    background: linear-gradient(145deg, #c9e6f3, #e6f7ff); /* Gradient shift on hover */
}

#dice:active {
    transform: scale(0.95);
}

.play {
    /* margin-top: 20px; */
    height: 50px;
    width: 75px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Font style */
    color: #ffffff; /* Text color to stand out on green */
    background:rgb(41, 155, 41); /* Radial green gradient */
    border: 1px solid rgba(20, 174, 22, 0.6); /* Defined border */
    border-radius: 12px; /* Slightly sharper corners */
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:-4px 2px 2px rgb(21, 106, 2),
    -4px 2px 2px rgb(21, 106, 2);
    text-transform: uppercase;
    outline: none;
    position: relative;
    overflow: hidden;
}

.play:hover {
    color: #e0ffe0; /* Lighter text on hover */
    box-shadow: inset 0 4px 6px rgb(73, 206, 43);
    transform: translate(2px , -2px);
}

.play:active {
    transform: translateY(1px); /* Pressed effect */
    box-shadow: inset 0 3px 4px rgba(255, 255, 255, 0.3), 0 3px 8px rgba(0, 0, 0, 0.3);
}
.restart {
    /* margin-top: 20px; */
    height: 50px;
    width: 75px;
    font-size: 15px;
    border-radius: 15px; /* Softer corners for a modern look */
    background: linear-gradient(45deg, #cb2323, #c22c2c); /* Glossy red gradient */
    box-shadow: -4px 4px 2px rgb(171, 23, 23),
    -4px 4px 2px rgb(134, 9, 9);
    color: whitesmoke;
    border: none; /* Removed border for a cleaner appearance */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.restart:hover {
    transform: translateX(5px); /* Slight scale effect */
    
}

.restart:active {
    transform: scale(0.95); /* Pressed effect */
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5); /* Inner shadow for depth */
}

@media (max-width:800px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .left{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        padding-top: 40px;
        font-weight: bold;
    }
    .top{
        height: 20%;
    }
    .right{
        height: 20%;
        width: 100%;
        gap: 40px;
    }
    .top{
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 30%;
        display: flex;
        justify-content: start;
    }
    .logo img{
        width: 40%;
    }
    .name{
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 5px;
        font-size: 30px;
        padding: 10px;
        font-family: "Playwrite GB S", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        width: 70%;
        color: #ff7272bc;    
        text-shadow: -1px 1px 1px #6e05bb;
    }
    .snake{
        color: #ff7272;
    }
    .ladder{
        color: #d28c00cf;
    }    
    .gameboard{
        align-items: center;
        justify-content: center;
        background-image: url(assets/game_board.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        margin-top: 0px;
        height: 45vh;
        width: 97%;
        box-shadow: 1px 1px 1px #d2a3c9, -1px -1px 1px #d2a3c9 ;
    }
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 10%;
        width: 10%;
    }
    .box img{
        width: 18px;
    }
    .redcounter{
        opacity: 0;
    }
    .bluecounter{
        opacity: 0;
    }
    .right{
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .players{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        height: 50%;
        gap: 70px;
    }    
    .redplayer,.blueplayer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;
        gap: 1px;
        font-size: 8px;
        border-radius: 8px;
        color: antiquewhite;
        text-shadow: -1px 1px 1px rgba(93, 176, 189, 0.73);
        background: #180715;
        box-shadow: inset 2px -2px 2px #580b4a, inset 0px 0px 0px #a72a91;
    }
    .markcounter img:nth-child(1){
        width: 20px;
    }
    .markcounter{
        display: flex;
        gap: 2px;
    }
    .markcounter .point{
        opacity: 0; 
        width: 7px;
    }
    .rightmost{
        height: 100%;
        width: 60%;
    }
    #dice{
        font-size: 0.8em;
        height: 40px;
        width: 40px;
        border: 2px solid white;
        border-radius: 10px; 
        cursor: pointer;
    }    
    #dice:hover {
        background: linear-gradient(145deg, #c9e6f3, #e6f7ff); /* Gradient shift on hover */
    }
    #dice:active {
        transform: scale(0.95);
    }
    .play {
        margin-right: 10px;
        height: 20px;
        width: 35px;
        font-size: 7px;
        border-radius: 5px;
        font-weight: bold;
        font-family: 'Arial', sans-serif; /* Font style */
        color: #ffffff; /* Text color to stand out on green */
        background:rgb(41, 155, 41); /* Radial green gradient */
        border: 1px solid rgba(20, 174, 22, 0.6); /* Defined border */
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow:-2px 1px 1px rgb(21, 106, 2),
        -2px 2px 1px rgb(21, 106, 2);
        text-transform: uppercase;
        outline: none;
        position: relative;
        overflow: hidden;
    }
    .restart{
        height: 20px;
        margin-right: 10px;
        width: 35px;
        font-size: 6px;
        border-radius: 5px;
        background: linear-gradient(45deg, #cb2323, #c22c2c); /* Glossy red gradient */
        box-shadow: -2px 1px 1px rgb(171, 23, 23),
        -2px 1px 1px rgb(134, 9, 9);
        color: whitesmoke;
        border: 1px solid rgb(180, 44, 44); 
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}
